# build

build/
cmake-build-*/
out/
*.o
*.a
*.so
*.dylib
*.exe

#cmake
CMakeCache.txt
CMakesFiles/
cmake_install.cmake
Makefile
compile_commands.json

#connan
CMakeUserPresets.json
conan_toolchain.cmake
conandeps*.cmake
conanbuild*
conanrun*
deactivate_conan*
generators/
graph_info.json

#Clion
.idea/
*.iml

#front
node_modules/
web/dist/
web/.vite/

#Secret .env

.env
.env.*
!.env.example
*.pem
*.key


#OS
.DS_Store
Thumbs.db
desktop.ini

#logs
*.log